body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.box {
  width: 100px;
  height: 100px;
  background: #00ff99;
  border-radius: 12px;
}
