*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
}

ul{
  display:flex;
  gap:30px;
  list-style:none;
}

.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

.title{
  font-size:60px;
}

.subtitle{
  font-size:20px;
  color:gray;
}

.btn{
  padding:12px 30px;
  border:none;
  background:white;
  color:black;
  cursor:pointer;
}

.box-section{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:50px;
}

.box{
  width:100px;
  height:100px;
  background:white;
}
