*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    padding: 10px;
}
.page{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-bottom: 10px solid #111;
}