*{
    margin: 0;
    padding: 0;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(43, 43, 43);
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(154, 153, 153);
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 20, 20);
}